body {
    font-family: 'Arial', sans-serif;
    background-color: #132434;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #132434;
    color: #ffffff;
    padding: 50px 0;
    text-align: center;
}

.header h1 {
    font-size: 36px;
}

.header p {
    font-size: 18px;
}

.main-content {
    padding: 50px 0;
    text-align: center;
}

.card {
    border: none;
    border-radius: 15px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card .abstract-shape {
    background-color: #007bff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #007bff;
}

.advertisement {
    background-color: #132434;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    margin-top: 50px; /* Added margin to separate advertisement from content */
}

.advertisement-content {
    max-width: 600px;
    margin: 0 auto;
}

.abstract-design {
    background-color: #007bff;
    height: 100px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.footer {
    background-color: #132434;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    margin-top: 50px; /* Added margin to separate footer from content */
}
.hero {
    height: 50vh;
    background-color: #132434;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.hero h1 {
    font-size: 2.5rem;
}

.cse-dev-text {
    color: white; /* Change the text color to white */
    font-size: 20px; /* Increase the font size */
    font-weight: bold; /* Make the text bold */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow */
}

.text3D {
    color: #fff;
    font-size: 3em;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.3),
                0px 5px 5px rgba(0,0,0,0.2),
                5px 5px 5px rgba(0,0,0,0.2),
                5px 10px 5px rgba(0,0,0,0.2),
                5px 15px 10px rgba(0,0,0,0.2),
                5px 20px 20px rgba(0,0,0,0.2);
}

.School-terms{
    color:white;
}
.delete-icon:hover {
color: red; 
}

.delete-icon {
    position: absolute;
    bottom: 0;
    right: 0;
}