{% extends 'base.html' %}
{% block context %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #132434;
            margin: 0;
            padding: 0;
            color: white;
        }
    </style>
</head>

<body>

    <header>
        <h1>Welcome to CSEC ASTU Development Division</h1>
        <p>Empowering the Future through Innovation</p>
    </header>

    <section id="about-us">
        <div class="container">
            <h2>About Us</h2>
            <p>Welcome to CSEC ASTU Development Division – a hub of innovation and empowerment in the realm of technology and 
            software development. We are dedicated to shaping the future by fostering creativity, collaboration, and continuous 
            learning.
            </p>
<p>
At CSEC ASTU, we believe in the power of innovation to drive positive change. Our mission is to explore cutting-edge 
technologies and provide a platform for individuals to unleash their potential. Through a dynamic and collaborative 
environment, we aim to cultivate a community of passionate developers and tech enthusiasts.
</p>
<p>
Our commitment extends beyond the ordinary, empowering individuals with the skills and knowledge needed to
 thrive in the ever-evolving landscape of software development. Whether you're a seasoned professional or 
 a curious beginner, our doors are open for you to embark on a journey of growth and discovery.
</p>
<p>
In this space, we celebrate collaboration. We understand that great ideas are born when minds come together. 
CSEC ASTU Development Division serves as a meeting ground for like-minded individuals and teams, encouraging
 the exchange of ideas and the pursuit of shared goals.
</p>
<p>
Join us as we embark on a mission to empower the future generation of innovators. Through hands-on experiences, 
impactful projects, and a supportive community, we strive to create an environment where every individual can
flourish and make a meaningful impact in the world of technology.

At CSEC ASTU Development Division, the possibilities are limitless, and the future is in your hands. Come,
be a part of our journey, and let's shape the future together.
</p>
        </div>
    </section>
</body>
{% endblock %}

</html>
