{% extends 'base.html' %}

{% block context %}
<!DOCTYPE html>
<html lang="en">
{%load static %}
<head>
    
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSEC ASTU Development Division</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    {% if messages %}
    {% for message in messages%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" >
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
    {% endfor %}
{% endif %}
    <div class="header">
        <h1>Welcome to CSEC ASTU Development Division</h1>
        <p>Empowering the Future through Innovation</p>
    </div>

    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="abstract-shape">
                                <i class="fas fa-cogs fa-3x" style="color: #ffffff;"></i>
                            </div>
                            <h3 class="section-heading">Innovation</h3>
                            <p>Explore cutting-edge technologies and creative solutions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="abstract-shape">
                                <i class="fas fa-users fa-3x" style="color: #ffffff;"></i>
                            </div>
                            <h3 class="section-heading">Collaboration</h3>
                            <p>Collaborate with passionate individuals and teams.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="abstract-shape">
                                <i class="fas fa-lightbulb fa-3x" style="color: #ffffff;"></i>
                            </div>
                            <h3 class="section-heading">Empowerment</h3>
                            <p>Empower yourself with skills and knowledge.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="advertisement">
        <div class="container advertisement-content">
            <div class="abstract-design"></div>
            <h2 class="display-4">🎉Special Announcement!✨</h2>
            {% if announcement %}
                {%for announcement in announcement%}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i>{{ announcement.title }}</i></h5>
                            <p class="card-text">{{ announcement.content }}</p>
                        </div>
                        {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                                    <a class="btn btn-outline-dark btn-sm m-1 delete-icon" href="{% url 'delete_announcement' announcement.pk %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                        </svg>
                                    </a>
                                {% endif %}
                                {% endif %}
                    </div>
                {%endfor%}
            {%else%}
                    <h3>No Announcement</h3>
            {%endif%}
            <p class="lead">Unlock your full potential with our cutting-edge software development courses.</p>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
{% endblock %}
