{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
{%block context%}
<body style="background-color: #132434;">

    <div class="container mt-5">
        <h2 style="color: #ffffff;">User Dashboard</h2>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="color: #ffffff;">#</th>
                    <th scope="col" style="color: #ffffff;">Username</th>
                    <th scope="col" style="color: #ffffff;">Email</th>
                    <th scope="col" style="color: #ffffff;">User_ID</th>
                    <th scope="col" style="color: #ffffff;">Phone_number</th>
                    <th scope="col" style="color: #ffffff;">isAdmin</th>
                    <th scope="col" style="color: #ffffff;"></th>
                </tr>
            </thead>
            <tbody>
                
                {% if users %}
                    {% for user in users %}
                        <tr>
                            <td style="color: #ffffff;">{{ forloop.counter }}</td>
                            <td style="color: #ffffff;">{{ user.username }}</td>
                            <td style="color: #ffffff;">{{ user.email }}</td>
                            <td style="color: #ffffff;">{{ user.User_ID }}</td>
                            <td style="color: #ffffff;">{{ user.Phone_number }}</td>
                            <td style="color: #ffffff;">{{ user.is_superuser }}</td>
                            <td>
                                <form method="post">
                                    <a href="{% url 'delete_user' user.pk %}" class="btn btn-danger btn-small">Del</a>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7" style="color: #ffffff;">No user data</td>
                    </tr>
                {% endif %}
                
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
{%endblock%}
</html>
