<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body style="background-color: #132434;">

    <div class="container mt-5">
        <h2 style="color: #ffffff;">User Dashboard</h2>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="color: #ffffff;">Username</th>
                    <th scope="col" style="color: #ffffff;">Email</th>
                    <th scope="col" style="color: #ffffff;">User_ID</th>
                    <th scope="col" style="color: #ffffff;">Phone_number</th>
                    <!-- Add more columns as needed -->
                </tr>
            </thead>
            <tbody>
                <!-- Example data, replace with actual data from your backend -->
                {%if users%}
                    {%for users in users%}
                        <tr>
                            <td style="color: #ffffff;">{{users.username}}</td>
                            <td style="color: #ffffff;">{{users.email}}</td>
                            <td style="color: #ffffff;">{{users.User_ID}}</td>
                            <td style="color: #ffffff;">{{users.Phone_number}}</td>


                            <!-- Add more cells with user information -->
                        </tr>
                    {%endfor%}
                {%else%}
                        <h1>No user Data</h1>
                {%endif%}
                
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
